flows.json
[{"id":"f70df330.87f76","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d47cbe02.5b86b","type":"function","z":"f70df330.87f76","name":"PreToken","func":"global.set(\"wSpd\",msg.payload.wSpd)\nglobal.set(\"wDir\",msg.payload.wDir)\nglobal.set(\"KWh\",msg.payload.KWh)\nglobal.set(\"date\",msg.payload.date)\nvar apikey= \"jR2Wqsa1MVGk4fGlHR8r5d4E8VcuYutXEcpNr3bPC_kD\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["cc7a1c12.bdabd"]]},{"id":"cc7a1c12.bdabd","type":"http request","z":"f70df330.87f76","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":true,"proxy":"","authType":"","x":410,"y":260,"wires":[["e117a31f.dd5c2"]]},{"id":"19179b46.4cc0e5","type":"debug","z":"f70df330.87f76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":80,"wires":[]},{"id":"e117a31f.dd5c2","type":"function","z":"f70df330.87f76","name":"Pre Prediction","func":"var wSpd = global.get('wSpd')\nvar wDir = global.get('wDir')\nvar KWh = global.get('KWh')\nvar date = global.get('date')\nvar token=msg.payload.access_token\nvar instance_id=\"13241408-5d1b-4288-aeab-633681eea4ec\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Wind Speed (m/s)\",\"Wind Direction (°)\", \"Theoretical_Power_Curve (KWh)\", \"Date/Time\"], \"values\": [[wSpd,wDir,KWh,date]]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["7f13bd0e.a8df14"]]},{"id":"7f13bd0e.a8df14","type":"http request","z":"f70df330.87f76","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/06ef31cc-e402-40ec-acfe-904f8485daec/predictions","tls":"","persist":true,"proxy":"","authType":"","x":770,"y":260,"wires":[["85dbe8f4.3b25e8"]]},{"id":"39c253c.2d4c3ac","type":"ui_form","z":"f70df330.87f76","name":"","label":"Predicting Wind Energy","group":"c4270750.1caf38","order":1,"width":0,"height":0,"options":[{"label":"Wind Speed (m/s)","value":"wSpd","type":"number","required":true,"rows":null},{"label":"Wind Direction (°)","value":"wDir","type":"number","required":true,"rows":null},{"label":"Date/Time","value":"date","type":"date","required":true,"rows":null},{"label":"Theoritical_Output_Power (KWh)","value":"KWh","type":"number","required":true,"rows":null}],"formValue":{"wSpd":"","wDir":"","date":"","KWh":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":180,"wires":[["d47cbe02.5b86b"]]},{"id":"ffa73306.5183b","type":"ui_text","z":"f70df330.87f76","group":"c4270750.1caf38","order":2,"width":0,"height":0,"name":"","label":"Predicted Energy (kWh)    ","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":140,"wires":[]},{"id":"85dbe8f4.3b25e8","type":"function","z":"f70df330.87f76","name":"Output","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":120,"wires":[["ffa73306.5183b","19179b46.4cc0e5"]]},{"id":"c4270750.1caf38","type":"ui_group","z":"","name":"Default","tab":"1143d245.c13b5e","order":1,"disp":false,"width":"6","collapse":false},{"id":"1143d245.c13b5e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]